
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Lato', sans-serif; /*aşağıda yazılacak tüm fontlara inherit yazınca hepsinin font değeri burdaki olur*/
    line-height: 2rem; /*yazılar arasındaki boşluklar için yazıyoruz*/

}

.part {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;  /*parallax komutu 4 ünü birlikte kullanak gerekir*/
    background-repeat: no-repeat;  /*parallax komutu 4 ünü birlikte kullanak gerekir*/
    background-size:cover;         /*parallax komutu 4 ünü birlikte kullanak gerekir*/
    background-position: center;   /*parallax komutu 4 ünü birlikte kullanak gerekir*/
    opacity: 0.73;                 /*saydamlığını belirttik*/
}
section h2{
    font-size: 1.8rem;
    margin: 20px 0px;
}

section h1{
    max-width: 70%;
   
}

.part-1{
    background-image: url(./img/bg.jpg);
    height: 100vh;
}
.part .border1{
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 30px 0px;
    padding: 2rem;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    outline: 0.5rem solid purple;
    outline-offset: 16px;
    outline-style: inset;
    text-align: center;
   

}
.part .border2{
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 30px 0px;
    padding: 1rem;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    outline: 0.4rem solid purple;
    outline-offset: 16px;
    font-weight: 600;
    outline-style: inset;
    text-align: center;

}

span{
    font-weight: bold; 
}

section{
    text-align: center;
    padding: 50px 40px;
    font-family: inherit;
    max-width: 100%;
    
}

.part-2 img{
    width: 30%;
    margin: 1rem;
    
}
.part-2{
    background-image: url(./img/bg2.jpg);
    color: black;
    height: 80vh;
}
.dark{
    background-color: #282e34;
    color: white;
}
.light{
    background-color: rgb(237, 237, 237);
    opacity: 0.7;
}
.part-3{
    background-image: url(./img/bg3.jpg);
    height: 80vh;
}
.part-4{
    background-image: url(./img/bg4.jpg);
    height: 80vh;
}
